// html {
//   overflow: hidden;
// }

@font-face {
  font-family: 'Satisfy';
  src: url('../Fonts/Satisfy-Regular.ttf');
}

$primary-color: rgb(9 12 16);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  height: 90px;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.name {
  display: inline-block;
  padding: 1rem;
  background-color: $primary-color;
  color: white;
  font-family: 'Satisfy';
  font-size: 1.25rem;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(75, 78, 80);
  background: transparent;
  color: rgb(255, 255, 255);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  svg {
    display: block;
    height: 16px;
    width: 16px;
  }
  &:hover {
    box-shadow: 0px 0px 8px rgb(75, 78, 80);
  }
}
