.spotify-logo {
  width: 3.5rem;
  height: 3.5rem;
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
