@font-face {
  font-family: 'Silka';
  src: url('../Fonts/Silka-Regular.otf');
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  width: 1440px;
  height: 90px;
  margin: auto;
  p {
    color: rgb(138, 148, 158);
    font-family: 'Silka';
    font-size: 1rem;
  }
}
